@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

.root {
  display: flex;
  place-content: center flex-start;
  align-items: center;
  background-color: rgb(78, 73, 73);
  flex-flow: column nowrap;
  gap: 10px;
  height: 100vh;
  overflow: auto;
  padding: 0px;
  position: relative;
}

.root {
  width: 100%;
  height: 100%;
  background-image: url("/mitter.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  place-content: center flex-start;
  align-items: center;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 10px;
  height: fit-content;
  max-width: 975px;
  overflow: auto;
  padding: 50px;
  position: relative;
  width: auto;
  gap: 64px;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: rgb(168, 127, 37);
}

.header-title {
  display: flex;
  gap: 12px;
}

.header-title h1 {
  width: 100%;
  font-weight: 700;
  font-size: 90px;
  letter-spacing: -4px;
  line-height: 1.2em;
  text-align: center;
  margin: 0;
}

.header-subtitle h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.922);
}

.prompt-container {
  place-content: flex-end center;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 16px;
  height: min-content;
  padding: 0px;
  width: min-content;
}

.prompt-box {
  border-bottom-width: 1px;
  border-color: rgba(192, 114, 24, 0.678);
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  place-content: flex-start;
  align-items: flex-start;
  background-color: rgba(21, 21, 21, 0.836);
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 10px;
  height: 150px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 610px;
  max-width: 1200px;
  will-change: transform;
  overflow: auto;
  outline: none;
  resize: none;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0px;
  line-height: 1.6em;
  text-align: start;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: none;
}

textarea {
  font-family: "Manrope", sans-serif;
}

.prompt-box:focus {
  border-color: rgba(136, 134, 134, 0.75);
}

.prompt-buttons {
  display: flex;
  place-content: center;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  gap: 12px;
  height: min-content;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
}

.key-stroke {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
}

.key-stroke p {
  color: rgba(255, 255, 255, 0.75);
  flex: 0 0 auto;
  height: auto;
  position: relative;
  white-space: pre;
  width: auto;
}

.or {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
}

.or p {
  color: rgba(255, 255, 255, 0.25);
}

.generate-button {
  place-content: flex-start;
  align-items: flex-start;
  background-color: rgba(255, 160, 18, 0.63);
  border-radius: 100px;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 10px;
  height: min-content;
  overflow: hidden;
  padding: 16px 24px;
  position: relative;
  text-decoration: none;
  width: min-content;
  will-change: transform;
  cursor: pointer;
}

.generate {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
}

.generate p {
  color: rgb(255, 255, 255);
  margin: 0;
}

.loading {
  opacity: 0.7;
  cursor: default;
}

.badge-container {
  display: flex;
  bottom: 20px;
  flex: 0 0 auto;
  height: auto;
  left: 20px;
  position: fixed;
  width: auto;
  z-index: 1;
}

.badge-container a {
  border-bottom-width: 1px;
  border-color: rgba(255, 255, 255, 0.1);
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  background-color: rgb(0, 0, 0);
  border-radius: 54.3478% / 238.095%;
  filter: grayscale(1);
  transform: none;
  transform-origin: 50% 50% 0px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1em;
  color: #ffffff;
  padding: 12px;
  text-decoration: none;
}

.badge {
  display: flex;
  align-items: center;
}

.badge img {
  width: 21px;
  height: 17px;
  image-rendering: pixelated;
  flex-shrink: 0;
  fill: black;
  color: black;
  transform: none;
  transform-origin: 50% 50% 0px;
  padding-right: 5px;
}

.badge p {
  margin: 0;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.output {
  place-content: center flex-start;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 10px;
  height: min-content;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
  width: 120%;
}

.output-header-container {
  place-content: center;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 16px;
  height: min-content;
  overflow: hidden;
  padding: 50px;
  position: relative;
  width: 100%;
}

.output-header h3 {
  font-family: "Manrope", serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 1.4em;
  text-align: start;
  color: #b37a24;
  text-decoration: none;
  text-transform: none;
  margin: 0;
}

.output-content p {
  border-bottom-width: 1px;
  border-color: rgba(192, 114, 24, 0.678);
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  place-content: flex-start;
  align-items: flex-start;
  background-color: rgba(21, 21, 21, 0.836);
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 10px;
  height: 150px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 610px;
  max-width: 1200px;
  will-change: transform;
  overflow: auto;
  outline: none;
  resize: none;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0px;
  line-height: 1.6em;
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: none;
}

@media (min-width: 810px) and (max-width: 1199px) {
  .container {
    max-width: 600px;
    width: 100%;
  }

  .prompt-container {
    max-width: 600px;
    width: 100%;
  }

  .prompt-box {
    width: 100%;
  }
}

@media (max-width: 809px) {
  .container {
    max-width: 500px;
    width: 100%;
  }

  .prompt-container {
    max-width: 500px;
    width: 100%;
  }

  .prompt-box {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 400px;
    width: 100%;
  }

  .header-title h1 {
    font-size: 50px;
  }

  .header-subtitle h2 {
    text-align: center;
  }

  .key-stroke,
  .or {
    display: none;
  }

  .prompt-buttons {
    justify-content: center;
  }

  .prompt-container {
    max-width: 400px;
    width: 100%;
  }

  .prompt-box {
    width: 100%;
  }

  .output-content {
    max-width: 400px;
  }
}

/* Loading ring animation */
.loader {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  border-top: 2px solid #fff;
  border-right: 2px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 2;
  position: absolute;
  color: rgb(167, 167, 167);
}

.navbar-bg {
  background-color: #aaaaaa;
}

.nav-menu {
  display: flex;
}

li {
  padding: 0 1.5rem;
}

.hamburger {
  display: none;
  /* padding: 1rem; */
}

.mobile-menu {
  display: none;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 940px) {
  .mobile-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    top: -100vh;
    left: 0;
    position: absolute;
    justify-content: space-between;
    /* align-items: center; */
    /* color: rgba(255, 255, 255, .95); */
    background-color: #aaaaaa;
    transition: 0.3s;
    color: #000;
  }

  .dark {
    color: #000;
  }

  .active {
    top: 80px;
  }

  .mobile-menu li {
    padding: 1.2rem 1rem;
    margin: 0 1rem;
    border-bottom: 1px solid #ccc;
  }

  .mobile-nav {
    margin: 1rem 0;
  }

  .mobile-menu-bottom {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  .social-icons {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
  }

  .social-icons .icon:hover {
    transform: scale(1.5);
    transition: 0.3s;
  }

  .mobile-menu button {
    margin: 1rem;
    width: 90%;
  }

  .nav-menu {
    display: none;
  }

  .nav-icons {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  color: rgb(160, 160, 160);
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero .content {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.form {
  display: flex;
  background-color: #ffffffcc;
  color: #000;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 8px;
  max-width: 700px;
  width: 85%;
  margin: 0 auto;
}

.form input[type="text"] {
  border: transparent;
  background-color: transparent;
  width: 600px;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

.form input[type="text"]:focus {
  outline: none;
}

@media screen and (max-width: 900px) {
  .form input[type="text"] {
    max-width: 250px;
  }
}
